.node {
  width: 15px;
  height: 15px;
  outline: 0px solid #1f2833;
  display: inline-block;
}

.node-finish {
  background-color: #05f140;
}

.node-start {
  background-color: red;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  100% {
    background-color: #afafdc;
  }
}

.node-wall {
  background-color: #191716;
  margin-bottom: 0px;
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  100% {
    background-color: #eef1ef;
  }
}
