.node {
  width: 2vmin;
  height: 2vmin;
  display: inline-block;
}

.node-finish {
  background-color: #05f140;
}

.node-start {
  background-color: red;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  100% {
    background-color: #e6e6e6;
  }
}

.node-wall {
  background-color: #0b0c10;
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  100% {
    background-color: #45a29e;
  }
}
