.main {
  display: flex;
  flex-direction: column;
}

.header-div {
  background-color: #1b2432;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header {
  color: #e6e6e6;
}

.sub-header {
  color: white;
}

.content {
  display: flex;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2ab7ca;
  flex: 1;
  padding-left: 20px;
  padding-right: 20px;
}

.maze-button {
  background-color: #355691;
  border: none;
  border-radius: 10px;
  width: 180px;
  height: 30px;
  color: white;
  margin-bottom: 10px;
}

.algo-button {
  background-color: #355691;
  border: none;
  border-radius: 10px;
  width: 180px;
  height: 30px;
  color: white;
  margin-bottom: 10px;
}

.reset-button {
  background-color: #fb3640;
  border-radius: 5px;
  border: none;
  color: white;
  width: 100px;
}

.grid {
  padding: 50px;
  flex: 2.5;
  padding-top: 50px;
  background-color: #628395;
}
