.main {
  display: flex;
  flex-direction: column;
}

.header-div {
  background-color: #191716;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header {
  color: #e6e6e6;
}

.sub-header {
  color: black;
}

.content {
  background-color: #eef1ef;
  display: flex;
}

.grid {
  margin: 30px;
  padding: 20px;
  border-radius: 8px;
  background-color: #a9b4c2;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-color: green;
  border-radius: 15px 50px 30px;
  justify-content: center;
  flex: 1;
  background-color: #a9b4c2;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.action-button {
  background-color: #191716;
  border: none;
  border-radius: 10px;
  width: 220px;
  height: 30px;
  color: white;
  margin-bottom: 10px;
}

.reset-button {
  background-color: red;
  border-radius: 5px;
  border: none;
  color: white;
  width: 100px;
  margin-bottom: 10px;
}

.continue-button {
  background-color: #05f140;
  border-radius: 5px;
  border: none;
  color: white;
  width: 100px;
}
